<!-- Include Header Specific CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/header.css') }}"
/>

<div class="header-nav header-nav-menu w-100" id="header-nav-menu">
  <div class="container-fluid px-4 px-xl-5">
    <div class="header-nav-inner py-3">
      <div class="row align-items-center justify-content-between">
        <!-- Logo -->
        <div class="col-6 col-xl-2 order-1">
          <div class="header-logo">
            <a href="{{ url_for('home') }}">
              <img
                src="{{ site_logo_url() }}"
                alt="logo"
                class="img-fluid header-logo-img"
              />
            </a>
          </div>
        </div>

        <!-- Navigation -->
        <div class="col-0 col-xl-8 order-3 order-xl-2 d-none d-xl-block">
          <div class="header-nav">
            <div
              class="navbar-collapse justify-content-center"
              id="bs-example-navbar-collapse-1"
            >
              <ul
                class="navbar-nav flex-row align-items-center justify-content-center m-0 p-0"
                id="responsive-menu"
              >
                <li class="nav-item">
                  <a
                    class="nav-link fw-medium text-uppercase {% if request.endpoint == 'home' %}active{% endif %}"
                    href="{{ url_for('home') }}"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-medium text-uppercase {% if request.endpoint and ('shop' in request.endpoint or 'product' in request.endpoint) %}active{% endif %}"
                    href="{{ url_for('shop') }}"
                    >Shop</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-medium text-uppercase {% if request.endpoint == 'services' %}active{% endif %}"
                    href="{{ url_for('services') }}"
                    >Services</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-medium text-uppercase {% if request.endpoint == 'portfolio' %}active{% endif %}"
                    href="{{ url_for('portfolio') }}"
                    >Collection</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-medium text-uppercase {% if request.endpoint == 'about' %}active{% endif %}"
                    href="{{ url_for('about') }}"
                    >About</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-medium text-uppercase {% if request.endpoint == 'projects' %}active{% endif %}"
                    href="{{ url_for('projects') }}"
                    >Projects</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-medium text-uppercase {% if request.endpoint == 'blog' %}active{% endif %}"
                    href="{{ url_for('blog') }}"
                    >Blog</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-medium text-uppercase {% if request.endpoint == 'contact' %}active{% endif %}"
                    href="{{ url_for('contact') }}"
                    >Contact</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Button & Mobile Menu -->
        <div
          class="col-6 col-xl-2 order-2 order-xl-3 text-end d-flex align-items-center justify-content-end gap-3"
        >
          <div class="header-icons d-none d-xl-block">
            <a
              href="https://wa.me/917351949490?text=Hello!%20I%20am%20interested%20in%20your%20services%20and%20would%20like%20to%20know%20more.%20Please%20share%20details."
              target="_blank"
              class="btn text-uppercase header-btn d-flex align-items-center justify-content-center gap-2"
              >WhatsApp Us
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            ></a>
          </div>
          <div id="slicknav-mobile"></div>
        </div>
      </div>
    </div>
  </div>
</div>
